.lt_nav {
    padding: 10px;
}

.lt_nav li {
    width: 33.33%;
    float: left;
}


/* 产品区 */
.lt_product {
    padding: 10px;
    background-color: #fff;
}

.lt_product li {
    width: 48%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.lt_product li:nth-child(odd) {
    margin-right: 4%;
}

.lt_product li a .price {
    color: red;
    margin-right: 10px;
}

.lt_product li a .oldPrice {
    text-decoration: line-through;
}